In [0]:
import pandas as pd

In [0]:
df = spark.read.csv("Data/sales_data.csv", header=True, inferSchema=True)
print(df)

In [0]:
%sql
DROP TABLE sales_data;

In [0]:
%sql

CREATE TABLE sales_data (
  sale_id INT PRIMARY KEY,
  customer_id VARCHAR(5),
  product VARCHAR(20),
  amount INT,
  sale_date DATE,
  region VARCHAR(20)
);

In [0]:
%sql
INSERT INTO sales_data VALUES 
(101, 'C001', 'shoes', 2999, '2023-10-01', 'north'),
(102, 'C002', 't-shirt', 999, '2023-10-01', 'west'),
(103, 'C003', 'watch', 5999, '2023-10-02', 'north'),
(104, 'C004', 'bag', 1999, '2023-10-03', 'west');

In [0]:
%sql
SELECT region, COUNT(*) as number_of_sales
FROM sales_data
GROUP BY region;

In [0]:
%sql
SELECT *
FROM sales_data
WHERE sale_date == '2023-10-02';

In [0]:
%sql
SELECT *
FROM sales_data
WHERE amount > 2000;

In [0]:
%sql
WITH ranked_sales AS (
    SELECT 
        sale_id,
        customer_id,
        product,
        amount,
        region,
        RANK() OVER (PARTITION BY region ORDER BY amount DESC) AS rank
    FROM sales_data
)
SELECT *
FROM ranked_sales
WHERE rank = 1;